.button {
    font-size: 24px;
    color: #fff;
    background: #0083FC;
    border: none;
    border-radius: 12px;
    text-transform: uppercase;
    width: 340px;
    height: 64px;
    box-sizing: border-box;
}
