.card {
    width: 114.86px;
    height: 114.86px;
    background: #0083FC;
    color: #fff;
    margin: 13.51px;
}

.card_open {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_hidden {
    visibility: hidden;
}