.modal {
    position: fixed;
    left: 100%;
    top: 100%;
    transform: none;
    background: #FF5533;
    border-radius: 12px;
    width: 689px;
    height: 372px;
    padding: 60px 40px 31px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal_text {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
}

.modal_open {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}