body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title {
  font-size: 50px;
  color: #0083FC;
  text-transform: uppercase;
  text-align: center;
}

.text_container {
  width: 193px;
  text-align: center;
}

.text {
  font-size: 24px;
  color: #0083FC;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.text_value {
  color: #FF5533;
}
